<div class="container updateform py-3">
    <h1 class="text-center">Edit Employee</h1>
    <form [formGroup]="editForm" (ngSubmit)="update()">
        <div class="mb-3">
            <input type="text" formControlName="firstname" class="form-control" placeholder="Enter The First Name" id="first_name">
            <div id="firstnameHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" 
            *ngIf=" editForm.controls['firstname'].touched && editForm.controls['firstname'].invalid">
                <span *ngIf="editForm.controls['firstname'].errors?.['required']">
                    This field is required.
                </span>
                <span *ngIf="editForm.controls['firstname'].errors?.['maxlength']"> 
                    It must be less than 10 characters.
                </span>
                <span *ngIf="editForm.controls['firstname'].errors?.['minlength']"> 
                    It must be more than 3 characters 
                </span>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" formControlName="lastname" class="form-control" placeholder="Enter The Last Name" id="last_name">
            <div id="lastnameHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" *ngIf="
            editForm.controls['lastname'].touched &&
            editForm.controls['lastname'].invalid
          ">
                <span *ngIf="editForm.controls['lastname'].errors?.['required']">
                    This field is required
                </span>
                <span *ngIf="editForm.controls['lastname'].errors?.['maxlength']"> 
                    It must be less than 10 characters.
                </span>
                <span *ngIf="editForm.controls['lastname'].errors?.['minlength']"> 
                    It must be more than 3 characters.
                </span>

            </div>
        </div>
        <div class="mb-3">
            <input type="email" formControlName="email" class="form-control" placeholder="Enter The Email Address" id="email">
            <div id="emailHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" *ngIf="
            editForm.controls['email'].touched &&
            editForm.controls['email'].invalid
          ">
                <span *ngIf="editForm.controls['email'].errors?.['required']">
                    This field is required.
                </span>
                <span *ngIf="editForm.controls['email'].errors?.['email']"> 
                    It must be like this pattern User@Example.Com .
                </span>

            </div>
        </div>
        <div class="mb-3">
            <select id="role-list" formControlName="role" class="form-select">
                <option value="HR">HR</option>
                <option value="normal employee">Normal Employee</option>
            </select>
        </div>

        <button type="submit" class="btn btn-warning d-block m-auto" [disabled]="editForm.invalid" >Update</button>
    </form>
</div>