<div class="container-fluid py-3">
    <div class="d-flex justify-content-between align-items-center" >
        <div class="d-flex align-items-baseline">
            <h1 class=" text-center bg-warning rounded-circle name border border-dark p-3 me-2">{{name_abr}} </h1>
            <span class="text-center fw-normal fs-2">{{employeeFirstName}}</span>
        </div>
        <input type="month" class="btn btn-info py-2 h-100" [(ngModel)]="selectedDate" (change)="generateSchedule()" id ="start" name="start" min="2018-03"
            [value]="currentDate | date:'yyyy-MM'"  />
    </div>

    <table class="table  table-bordered text-center table-striped rounded-3 overflow-hidden">
        <thead >
            <tr class="thead-dark table-dark fs-6">
                <th>Date</th>
                <th>Status</th>
                <th>Shift Start Time</th>
                <th>Actual Start Time</th>
                <th>Shift End Time</th>
                <th>Actual End Time</th>
            </tr>
        </thead>
        <tbody style="vertical-align: middle;" >
            <ng-container *ngFor="let week of schedule; let i = index">
                <tr *ngFor="let day of week ; let j = index " [ngClass]="{ 'disabled-row': day.dayName === 'Fri' || day.isVacation , 'table-primary':isCurrentDate(day)}">
                    <td >{{ day.dayName }}, {{ day.day }}</td>
                    <td>
                        <select [class]="day.status" [(ngModel)]="day.status" id="status" (change)="statuschange($event,i,j)">
                            <option  selected disabled value="">-- Status --</option>
                            <option value="present"> &#xf00c; Present</option>
                            <option value="late">&#xf071; Late</option>
                            <option value="absent">&#xf2d3; Absent</option>
                        </select>
                    </td>
                    <td >
                        <input class="border-0" type="time" [(ngModel)]="day.shiftStartTime"  value="08:00" disabled>
                    </td>
                    <td >
                        <input class="border-0" type="time" [(ngModel)]="day.actualStartTime" (change)="editSchedule(i,j)" [disabled]="day.status == 'present' || day.status == 'absent' || day.status == ''">
                    </td>
                    <td >
                        <input class="border-0" type="time" [(ngModel)]="day.shiftEndTime"  value="16:00" disabled >
                    </td>
                    <td >
                        <input class="border-0" type="time" [(ngModel)]="day.actualEndTime" (change)="editSchedule(i,j)" [disabled]="day.status == 'absent' || day.status == ''">
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>