:host {
    width: 100%;
    overflow-y: scroll;
    height: 90vh;
}

select {
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: white;
    appearance: none;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ,'FontAwesome', 'Second Font name';
}

select option {
    background: white;
    padding: 0;
    margin: 0;
}

.present {
    background: rgba(30, 253, 0, 0.3);
}

.absent {
    background: rgba(150, 150, 150, 0.3);
}

.late {
    background: rgba(255, 0, 0, 0.632);
}

.disabled-row {
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
}

.disabled-row select {
    background-color: rgb(128, 128, 128);
}

select:focus {
    outline: none;
}

.name {
    width: fit-content;
    font-size: 36px;
    font-weight: 300;
}
#employeetable{
    background-color: aqua;
}