<div class="d-flex flex-column flex-shrink-0 p-2 text-white sidebar" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li> 
        <a href="#"  class="nav-link text-white " routerLinkActive="active" [routerLink]="['dashboard']" aria-current="page">
          <i class="fa-solid fa-chart-pie"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLinkActive="active"  [routerLink]="['employee']" class="nav-link text-white">
          <i class="fa-solid fa-users"></i>
          Employees Management
        </a>
      </li>
    </ul>
  </div>