<div class="para">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-around ">
            
            <div class="col-xl-6 para1 ">
                <h1 class="text-uppercase mb-4 border-bottom title2">HR Recruitment</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit cum eos ipsam cupiditate unde maiores. Provident at doloribus quaerat autem quidem exercitationem ut mollitia? Enim, vel. Reprehenderit repellat asperiores, inventore, dicta officia perferendis harum maxime, ab quos aspernatur excepturi omnis nesciunt minima nihil eaque quae est aliquid distinctio corporis esse deserunt odit sequi sunt laboriosam? Consectetur ipsum quisquam id quasi nostrum incidunt beatae a aspernatur necessitatibus ab enim excepturi blanditiis alias, unde maiores quos reiciendis culpa distinctio inventore illo itaque dicta eius tempore? Harum culpa optio velit numquam cupiditate saepe, atque dicta commodi qui, maxime doloribus officiis minus molestiae illo.
                </p>
            </div>
            <div class="col-xl-6 text-center">
                <img src="../../assets/img5.png">
            </div>
        </div>
    </div>
</div>