<div class="container-fluid pt-3 ">
    <a class="float-end btn btn-success mb-3" routerLink="add">
        Add Employee
        <i class="fa-solid fa-user-plus"></i>
    </a>
    <table class="table table-striped table-light text-center" id="employeetable">
        <thead class=" text-uppercase border-bottom table-dark">
            <tr>
                <th class="p-3">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let employee of employees">
            <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.first_name}} {{employee.last_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.role}}</td>
                <td class="text-center">
                    <a class="btn btn-warning mx-3" [routerLink]="['edit',employee.id]">
                        Edit Info
                        <i class="fa-solid fa-user-pen"></i>
                    </a>
                    <a class="btn btn-info" [routerLink]="['attendance',employee.id]">
                       Attendance Schedule
                       <i class="fa-solid fa-business-time"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>