/* You can add global styles to this file, and also import other style files */
html,
body {
    min-height: 100vh;
}

img {
    width: 100%;
}

main {
    height: 100%;
    background-image: url("assets/bg6.png");
    background-size: cover  ;
    background-repeat: no-repeat;
}

:host {
    width: 100%
}