<div class="container-fluid py-3">
    <h1 class="text-center">Add Employee</h1>
    <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
        <div class="mb-3">
            <input type="text" formControlName="firstName" class="form-control" placeholder="Enter The First Name" id="first_name">

            <div id="firstnameHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" 
            *ngIf=" employeeForm.controls['firstName'].touched && employeeForm.controls['firstName'].invalid">
                <span *ngIf="employeeForm.controls['firstName'].errors?.['required']">
                    This field is required.
                </span>
                <span *ngIf="employeeForm.controls['firstName'].errors?.['maxlength']"> 
                    It must be less than 10 characters.
                </span>
                <span *ngIf="employeeForm.controls['firstName'].errors?.['minlength']"> 
                    It must be more than 3 characters 
                </span>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" formControlName="lastName" class="form-control" placeholder="Enter The Last Name" id="last_name">

            <div id="lastnameHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" *ngIf="
            employeeForm.controls['lastName'].touched &&
            employeeForm.controls['lastName'].invalid
          ">
                <span *ngIf="employeeForm.controls['lastName'].errors?.['required']">
                    This field is required
                </span>
                <span *ngIf="employeeForm.controls['lastName'].errors?.['maxlength']"> 
                    It must be less than 10 characters.
                </span>
                <span *ngIf="employeeForm.controls['lastName'].errors?.['minlength']"> 
                    It must be more than 3 characters.
                </span>

            </div>
        </div>
        <div class="mb-3">
            <input type="email" formControlName="email" class="form-control" placeholder="Enter The Email Address" id="email">

            <div id="emailHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" *ngIf="
            employeeForm.controls['email'].touched &&
            employeeForm.controls['email'].invalid
          ">
                <span *ngIf="employeeForm.controls['email'].errors?.['required']">
                    This field is required.
                </span>
                <span *ngIf="employeeForm.controls['email'].errors?.['email']"> 
                    It must be like this pattern User@Example.Com .
                </span>

            </div>
        </div>
        <div class="mb-3">
            <label for="role-list" class="form-label">Role</label>
            <select id="role-list" formControlName="role" class="form-select">
                <option selected value="HR">HR</option>
                <option value="financial_officer">Financial Officer</option>
                <option value="accountant">Accountant</option>
                <option value="devops">DevOps</option>
                <option value="customer_service">Customer Service</option>
                <option value="marketing_coordinator">Marketing Coordinator</option>
            </select>

            <div id="roleHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" *ngIf="
            employeeForm.controls['role'].touched &&
            employeeForm.controls['role'].invalid
          ">
                <span *ngIf="employeeForm.controls['role'].errors?.['required']">
                    This field is required.
                </span>

            </div>
        </div>
        <div class="mb-3" *ngIf="selectedRole=='HR'">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">

            <div id="passwordHelp" class="errors form-text bg-danger text-bg-danger d-flex flex-wrap align-items-center px-3" *ngIf="
            employeeForm.controls['password'].touched &&
            employeeForm.controls['password'].invalid">
                <span *ngIf="employeeForm.controls['password'].errors?.['required']">
                    This field is required.
                </span>
                <br>
                <span *ngIf="employeeForm.controls['password'].errors?.['pattern']">
                    Password must be at least 8 characters long and contain at least one letter and one digit.
                </span>
                <br>
                <span *ngIf="employeeForm.controls['password'].errors?.['maxlength']">
                     It must be less than 12 characters.
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-success d-block m-auto" [disabled]="employeeForm.invalid">Add</button>
    </form>
</div>