<div class="container py-5">
    <div class="row justify-content-around">
        <div class="col-2 border position-relative widget">
            <div class="icon position-absolute icon">
                <i class="fa-solid fa-user-tie"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, reprehenderit.</p>
            <span class="title3">Employees</span>
        </div>

        <div class="col-2 border position-relative widget">
            <div class="icon position-absolute icon presentdays">
                <i class="fa-solid fa-calendar-check"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, reprehenderit.</p>
            <span class="title3">Present Days</span>
        </div>
        <div class="col-2 border position-relative widget">
            <div class="icon position-absolute icon latedays">
                <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, reprehenderit.</p>
            <span class="title3">Late Days</span>

        </div>
        <div class="col-2 border position-relative widget ">
            <div class="icon position-absolute icon absentdays">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, reprehenderit.</p>
            <span class="title3">Absent Days</span>

        </div>
    </div>

    <div _ngcontent-gum-c5="" class="row mt-5 py-5">
        <div _ngcontent-gum-c5="" class="col-md-4">
            <div _ngcontent-gum-c5="" class="card card-chart">
                <div _ngcontent-gum-c5="" class="card-header p-0 card-header-success">
                    <div _ngcontent-gum-c5="" class="ct-chart" id="dailySalesChart">
                        <img src="../../../assets/graph1.png">
                    </div>
                </div>
                <div _ngcontent-gum-c5="" class="card-body">
                    <h4 _ngcontent-gum-c5="" class="card-title border-bottom">Present Employees</h4>
                    <p _ngcontent-gum-c5="" class="card-category"><span _ngcontent-gum-c5="" class="text-success"><i
                                _ngcontent-gum-c5="" class="fa fa-long-arrow-up"></i> 20% </span> increase in number of staff attendance.</p>
                </div>
                <div _ngcontent-gum-c5="" class="card-footer">
                    <div _ngcontent-gum-c5="" class="stats opacity-50">updated 4 minutes ago </div>
                </div>
            </div>
        </div>
        <div _ngcontent-gum-c5="" class="col-md-4">
            <div _ngcontent-gum-c5="" class="card card-chart">
                <div _ngcontent-gum-c5="" class="card-header p-0 card-header-warning">
                    <div _ngcontent-gum-c5="" class="ct-chart" id="websiteViewsChart">
                        <img src="../../../assets/graph2.png">
                    </div>
                </div>
                <div _ngcontent-gum-c5="" class="card-body">
                    <h4 _ngcontent-gum-c5="" class="card-title border-bottom">Completed Tasks</h4>
                    <p _ngcontent-gum-c5="" class="card-category">An increase in the number of overtime hours.</p>
                </div>
                <div _ngcontent-gum-c5="" class="card-footer">
                    <div _ngcontent-gum-c5="" class="stats opacity-50"> updated 8 hours ago </div>
                </div>
            </div>
        </div>
        <div _ngcontent-gum-c5="" class="col-md-4">
            <div _ngcontent-gum-c5="" class="card card-chart">
                <div _ngcontent-gum-c5="" class="card-header p-0 card-header-danger">
                    <div _ngcontent-gum-c5="" class="ct-chart" id="completedTasksChart">
                        <img src="../../../assets/graph3.png">

                    </div>
                </div>
                <div _ngcontent-gum-c5="" class="card-body">
                    <h4 _ngcontent-gum-c5="" class="card-title border-bottom">Precentage Of Employee Attendance</h4>
                        <p _ngcontent-gum-c5="" class="card-category">Lorem ipsum dolor sit amet.</p>
                </div>
                <div _ngcontent-gum-c5="" class="card-footer">
                    <div _ngcontent-gum-c5="" class="stats opacity-50">updated 4 minutes ago </div>
                </div>
            </div>
        </div>
    </div>
</div>